.row {
  text-align: center;
  margin-left: 20vh;
}

.rules {
  margin-left: 20vh;
  padding-bottom: 5vh;
  font-size: 3vh;
}

h1{
  font-size: 17vh;
  padding-bottom: 5vh;
}

h2{
  padding-bottom: 6vh;
  font-size: 6vh;
}
.dice{
  padding-top: 3vh;
  padding-bottom: 3vh;
  font-size: 10vh;

}
p{
  padding-bottom: 10vh;
  font-size: 3vh;
}

button{
  font-size: 3vh;
}
